body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: gainsboro
}

.header {
    font-family: 'Alegreya SC', serif;
    background-color: white;
    color: darkgray;
    font-size: 5.2em
   
}

#buffer {
    background-color: pink
}

#chirp {
    background-color: white
}


