body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: gainsboro;
    color: darkgray;
}

.header {
    font-family: 'Alegreya SC', serif;
    background-color: white;
    font-size: 5.2em
}

.input-border {
    border: none
}

.color-white {
    background-color: white
}

.color-peach {
    background-color: rgba(239, 179, 133, .5)
    
}

.color-pea {
    background-color: rgba(204, 204, 102, .5)
}

.btn {
    background-color: rgba(126, 171, 206, .7)
}



